body {
    font-family: 'Lucida Console', monospace;
    background-color: #151616;
    color: #d8e0dd;
}

h1 {
    font-weight: bold;
}

a {
    font-family: 'Lucida Console', monospace;
    color: rgb(86, 186, 219)
}

#desc {
    font-style: italic;
    font-weight: 300;
    font-size: 8pt;
    color: #b1b9b6;
}

#download {
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}

#post-data-container {
    height: 300px;
    overflow-y: scroll;
    border: solid white;
    border-radius: 8px;
}

#post-data-item {
    background-color: #272929;
    border-radius: 8px;
    padding: 1px;
    margin: 5px;
}

#post-id {
    margin-left: 4px;
}

#post-id:hover {
    text-decoration: underline;
    cursor: pointer;
}

#post-detail {
    margin-left: 4px;
    font-size: 8pt;
}

#information {
    padding: 20px;
    background-color: #411d33;
    border-radius: 8px;
}

#footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    color: rgb(79, 73, 73);
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

tr {
    border: solid;
}

tr:nth-child(even) {
    background-color: #272929;
}

td:nth-child(even) {
    text-align: right;
}